<p>Пешеходный туризм - самый доступный вид туризма для учащихся, основой которого является организация самодеятельного туристского похода. Главная задача пешеходного туризма — удовлетворить естественную потребность учащихся в непосредственном познании мира, дать возможность подростку оказаться в другой среде для полного раскрытия своих способностей. Походные группы состоят из учащихся 6 - 11 класса и 2-3 руководителей.
    В нашем турклубе ребята научатся разрабатывать маршрут, организовывать и проводить поход. Чтобы поход был безопасным мы учим ребят ориентироваться на местности, основам: гигиены, правильного питания, поведения на транспорте в том числе поездах дальнего следования, первой доврачебной помощи при заболеваниях и травмах.
    Мы принимаем в турклуб с 5-го класса. В свой первый год в турклубе пятачки учатся основам, туризма, а также вместе со ставшими участвуют в соревнованиях по спортивному ориентированию. В конце пятого класса мы веем пятачков в их первый поход с ночевкой в Подмосковье.</p>


<form action="">
    <button type="submit"></button>
</form>