@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

p{
    margin-top: 3rem;
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px 20px 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    border: 1px solid #71531E;
    background-color: #ffffffb3;
}