<div class="container">
    <div class="asd">
            <h1>Экспедиция лето 2022</h1>
        <h2>Цель экспедиции</h2> <p>Паспортизация растений заказника "Байдарская Долина"</p>    
        <h2>Этапы</h2> 
            <ul>
                <li>10 апреля - Отборочный тур 76 первенства по туризму, организаций подведомственных Департаменту образования и науки города Москвы</li>
                <li>Середина мая - Утверждение программы иследований в экспедиции</li>
                <li>3-6 июня - 1 этап 76 первенства по туризму, организаций подведомственных Департаменту образования и науки города Москвы</li>
                <li>15-29 июля - проведение экспедиции</li>
            </ul>
    </div>
    <div class="photos">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431002%20(1).jpeg?raw=true" alt="">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431002%20(2).jpeg?raw=true" alt="">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431002%20(3).jpeg?raw=true" alt="">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431002%20(4).jpeg?raw=true" alt="">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431002.jpeg?raw=true" alt="">
            <!-- <div>
                <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(1).jpeg?raw=true" alt="">
                <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(6).jpeg?raw=true" alt="">
            </div>
            
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(2).jpeg?raw=true" alt="">
        <div>
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(3).jpeg?raw=true" alt="">
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(4).jpeg?raw=true" alt="">
        </div>
        <div>
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(5).jpeg?raw=true" alt="">
            
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(7).jpeg?raw=true" alt="">
        </div>
            <img src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431016%20(8).jpeg?raw=true" alt="">
            
        </div> -->
</div>
