.container{
    display: grid;
    grid-template-columns: 170px 1fr ;
    
}

button{
    
    background-color: #ffffff2d;
    border-color: #71531E;   
     
}
.menu{
    display: grid;
    grid-template-rows: 50px 50px 50px 1fr;
}
table {
    border-style: solid;
}
.all{
    background: url("../bg.png");
    background-size: 100%;
    min-height: 100vh;
    height: 100%;
}