@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* 
span{
    border: solid 1px black;
    
    font-weight: normal;
    
    margin-right: auto;
    margin-left: auto;
} */
h1{
    font-size: 50px;
}

#container {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin-top: 1rem
}
.inner1 {
    display: inline-block;
    position: relative;
    /* background-color: #ffffffb3 ; */
    /* margin-top: 10rem; */
    font-size: 2rem;
}
.inner2 {
    display: inline-block;
    position: relative;
    background-color: #ffffffb3 ;
    margin-top: 3rem;
    font-size: 2rem;
}
.wout{
    display: inline-block;
    position: relative;
    background-color: #ffffffb3 ;
    margin-top: 3rem;
    font-size: 2rem;
    
}
.date{
    color: #71531E;
    font-weight: bold;
}
.withph{
    border: solid 2px #71531E;
    background-color: #ffffffb3;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3rem;

    /* margin-top: 500px; */
}
.overflow {
    float: left;
    border: solid 2px #71531E;
    padding: 15px;
}
img{
    margin-top: 2.5rem;
    height: 14rem;
}
.photos{
    margin-bottom: 2% ;
}
.asd {
    margin-right: 2.5%;
    margin-left: 2.5%;
}
@media (max-width: 710px)
{
    img{
        margin-left: calc(50% - 14rem);
        
    }
    .asd{
        margin-right: 0rem;
    }
}