<div id="container">

    <h1>Новости</h1>


    <div class="withph">
        <span class="inner1" style="background-color: none">
            <div class="overflow" style="border: none;"><span class="date">26.03.2022</span> - Мы вернулись из весеннего похода! В походе приняли участие 21 школьник!</div>
        </span>
        <br>
        <div class="photos">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(1).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(2).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(3).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(4).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(5).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568%20(6).jpeg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/antares/blob/main/assets/photo1649431568.jpeg?raw=true">
        </div>
    </div>
    <p></p>
    <span class="wout">
        <div class="overflow"><span class="date">4.3.2022</span> - Набор в весенний поход закрыт.</div>
    </span>
    <p></p>
    <span class="wout">
        <div class="overflow"><span class="date">22.1.2022</span> - Объявлен набор в весенний поход 20 - 26 марта.</div>
    </span>
    <p></p>
    <div class="withph">
    <span class="inner2" style="margin: 0;">
        <div class="overflow" style="border: none;"><span class="date">7.11.2021</span> - Мы вернулись из осеннего похода! За 5 дней прошли 75км!</div>
    </span>
    <p></p>
    <div class="photos">
            <img class="asd" src="https://github.com/vo1okon/site-visit/blob/master/src/assets/1.jpg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/site-visit/blob/master/src/assets/2.jpg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/site-visit/blob/master/src/assets/3.jpg?raw=true">
            <img class="asd" src="https://github.com/vo1okon/site-visit/blob/master/src/assets/4.jpg?raw=true">
        </div>
    </div>
    <!-- <img class="asd" src=""> -->
</div>
